---
import BaseHead from "../components/BaseHead.astro";

const {
  frontmatter: { title, description, date },
  headings,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
    />
  </head>
  <body class="p-6 sm:px-8 pb-32 mx-auto max-w-screen-md antialiased">
    <div
      class="flex w-full h-[180px] sm:h-[220px] rounded-lg mb-8 bg-neutral-50 border border-neutral-100 items-center justify-center overflow-hidden bg-cover bg-center"
      style={{
        background: `linear-gradient(to right, rgb(172, 182, 229) 0%, rgb(146, 233, 232) 70%, rgb(134, 253, 232) 100%)`,
      }}
    >
    </div>
    <h1 class="text-[1.4rem] md:text-2xl pb-2 font-semibold leading-10 text-slate-900">
      {title}
    </h1>
    <hr />
    <p class="text-slate-500 text-md py-2">
      {
        new Date(date).toLocaleDateString("en-US", {
          weekday: "long",
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </p>
    <div class="prose prose-slate py-6">
      <h3 class="decoration-[#89a1ff] underline decoration-wavy">Table of Contents</h3>
      <ul class="list-decimal">
        {
          headings
            .filter(({ depth }) => depth > 1 && depth < 4)
            .map((header) => (
              <li>
                <a href={`#${header.slug}`} class="no-underline text-slate-800">
                  {header.text}
                </a>
              </li>
            ))
        }
      </ul>
      <hr />
      <slot />
    </div>
  </body>
</html>
